.head{
  text-align: center;
  color:green;
  font-size: 3em;
  text-shadow: 5px 3px 2px #556;
  -webkit-tap-highlight-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
}
#form-control input{
  text-align: center;
}
input #carrot{
  text-decoration: double;
}
body{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: 'Lobster', cursive;
}


#intro {
  font-size: 40px;
  color: #fff;
  font-weight: bolder;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

